@font-face {
    font-family: 'futura_lt_light';
    src: url('../fonts/futura_lt_light.eot');
    src: url('../fonts/futura_lt_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_lt_light.woff') format('woff'),
         url('../fonts/futura_lt_light.ttf') format('truetype'),
         url('../fonts/futura_lt_light.svg#futura_lt_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_lt_medium';
    src: url('../fonts/futura_lt_medium.eot');
    src: url('../fonts/futura_lt_medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_lt_medium.woff') format('woff'),
         url('../fonts/futura_lt_medium.ttf') format('truetype'),
         url('../fonts/futura_lt_medium.svg#futura_lt_medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	     url("../fonts/flaticon.woff") format("woff"),
	     url("../fonts/flaticon.ttf") format("truetype"),
	     url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-size: 30px;
	color:#5e962a;
	font-style: normal;
	margin-left: 0;
}
a:hover:before {
	color:#333;
}
.flaticon-facebook:before {
	content: "\e000";
	color:rgb(59, 89, 152);
	transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
}
.flaticon-twitter:before {
	color:rgb(0, 172, 237);
	content: "\e003";
	transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
}
.flaticon-google:before {
	color:rgb(215, 61, 50);
	content: "\e001";
	transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
}
.flaticon-youtube:before {
	color:#fd3832;
	content: "\e004";
	transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
}
.flaticon-rss:before {
	color:#fbc95d;
	content: "\e002";
	transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
}